min_peers=1
max_peers=50

download_rate=0
upload_rate=0

directory = ~/torrents/downloads/
session = ~/torrents/session/

port_range = 40890-40890
port_random = no

check_hash = yes

session_save = yes

encryption = allow_incoming,enable_retry,prefer_plaintext 

use_udp_trackers = yes

dht = auto
dht_port = 6881

encoding_list = UTF-8
